@config "../tailwind.config.ts";
@import "tailwindcss";

.glow-cyan-400 {
  text-shadow: 0 0 8px rgba(0, 219, 233, 0.4);
}
.border-glow:hover {
  box-shadow: 0 0 15px rgba(0, 219, 233, 0.2);
  border-color: #00dbe9;
}
.terminal-cursor::after {
  content: "_";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}


html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}